<p id="notice"><%= notice %></p>
<div class="row">
	<div class="centered">
		<br/><br/>
		<body>

		<p><em>AZMA was founded in the year 2011 and launched on 25th November by students of Precious Blood Girls High School with an intention of increased idea sharing and student networking through social media and community based events. We started out with a website that was able to engage students from different schools in different discussions on issues affecting our societies and solutions to problems.
			We organise events to bring together youths and at the same time enable us to give back to the society.</em></p>
			<br/><br/>

			<div id = "myCarousel" class = "carousel slide" >
	
	<ol class ="carousel-indicators">
	<li data-target ="#myCarousel" data-slide-to ="0" class="active"></li>
	<li data-target ="#myCarousel" data-slide-to ="1"></li>
	<li data-target ="#myCarousel" data-slide-to ="2"></li>
	<li data-target ="#myCarousel" data-slide-to ="3"></li>
	<li data-target ="#myCarousel" data-slide-to ="4"></li>


	</ol>

		<div class="carousel-inner">
			<div class="item active">
          <img  src="/assets/d.JPG" width="1000" height="100" class="img-responsive"> 
			
			
			</div>
			<div class="item">
          <img  src="/assets/d6.JPG" width="1000" height="100" class="img-responsive"> 
			</div>
			<div class="item">
          <img  src="/assets/d3.JPG" width="1000" height="211" class="img-responsive"> 

			</div>

			<div class="item">
          <img  src="/assets/d1.JPG" width="1000" height="211" class="img-responsive"> 

			
			</div>

			<div class="item">
          <img  src="/assets/d2.JPG" width="1000" height="211" class="img-responsive"> 

			</div>

			<div class="item">
          <img  src="/assets/d5.JPG" width="1000" height="211" class="img-responsive"> 
          	</div>
			</div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

			<strong>Vision: </strong> To grow young minds
			and change destitute lives in
			Africa.
			<br/><br/>
			<strong>Mission: </strong> To use the great minds
			and ideas of the youth today to
			transform the live  of the underprivileged in
			their immediate and extensive environments in
			Africa.
			<br/><br/>
			<h3> AZMA’s Values of Excellence</h3>
			<strong> 1. Capability and
				accountability </strong>
				<br/>
				AZMA is built to develop its members’ and its beneficiaries’ capability and equip them with the knowledge and links to put their abilities to use as they exercise accountability in their actions and way of living.
				<br/><br/>
				<strong> 2. Creativity and innovation </strong>
				<br/>
				AZMA encourages the use and advancement of one’s creativity and innovativeness to positively impact the society in all ways. To deduce change from our abilities.
				<br/><br/>
				<strong>3. Honesty, integrity, and transparency </strong>
				<br/>
				Members and beneficiaries ofAZMA are expected to uphold these values for their excellence in AZMA activities and their lives.
				<br/><br/>
				<strong>4. Discipline </strong>
				<br/>
				All Azmats are expected to follow AZMA’s policies and any other rules that may apply.
				<br/><br/>
			</div>
		</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

		</body>